.#{$root-class-element} {
    .form-title{
        //background-color: aqua;
        font-size: 15px;
        font-weight: bold;
        padding-left: 10px;
        border-bottom: 1px dashed #e2e2e2;
        margin-bottom: 15px;
        color: #aeaeae;
    }

    .ant-form-vertical {
        .ant-form-item-label{
            padding: 0px;
        }
    }
    
    .ant-form-item{
        margin-bottom: 5px;
        color: black;


        .ant-form-item-label > label{
            font-size: 13px;
            color: #807878;
        }

        // .ant-input{
        //     border-radius: 4px;
        // }
    }

    //-- Drawer
    .lk-form-horizontal{
        .ant-form-item{
            margin-bottom: 15px;
        }
    }
}